<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login Form</h1>

    <!-- authenticate -->
    <form action="/social_media/authenticate/" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>

    <form action="/social_media/add_user/">
        <button type="submit">Add User</button>
    </form>

    <!-- messages -->
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
